<?xml version="1.0" encoding="utf-8"?>
<Configuracao>
  <DefaultValues>
    <IgrejaTitulo></IgrejaTitulo>
    <CidadePadrao></CidadePadrao>
    <UFPadrao></UFPadrao>
    <FotosImageFolder></FotosImageFolder>
    <DesignImageFolder></DesignImageFolder>
    <ValidadeAnos>1</ValidadeAnos>
	<ImageOrigin></ImageOrigin>
	<CredentialPath></CredentialPath>
	<DBPath></DBPath>
  </DefaultValues>
  <DadosIgreja>
    <RazaoSocial></RazaoSocial>
    <CNPJ></CNPJ>
    <TelefonePrincipal></TelefonePrincipal>
    <TelefoneFinanceiro></TelefoneFinanceiro>
    <ContatoFinanceiro />
    <Endereco></Endereco>
    <Bairro></Bairro>
    <Cidade></Cidade>
    <UF></UF>
    <CEP></CEP>
  </DadosIgreja>
</Configuracao>